//- サイト基本設定
- const rootURL= "https://latele-suzuki.github.io/test-to-share";
- const siteName= "実験用のページ";
- const siteNameCatch= "";
- const bodyID= "top";

//- パス関係
- const path_top= "/";
- const path_favicon= "/assets/img/favicon.png";
- const path_css= "/assets/css/";
- const path_js= "/assets/js/";
- const ogpImage=rootURL + "/assets/img/share/og-image.png";

//- description の基本フォーマット。上書きする場合個別ページにて対応。
- const baseDescription=pageTitle + ""

//- サーバーサイドのインクルードを使うかどうか ssi or php or none
- const inc= 'none';

//- インクルードファイルが有る場所
- const path_inc= "/assets/inc/";

//- インクルードファイルの拡張子
- const ext_inc= ".html";

//- パンくずリストのトップの表記
- const breadcrumbTop= "トップページ";

//- Facebook
- const fbAdmins= "";
- const fbAppID= "";

//- Twitter Card
- const twitterUserID= "";
- const twitterSummary= "summary";
