@use "../../global" as g;
// ----------------------------------------------------
//  見出し
// ----------------------------------------------------
.title {
  &.-style01 {
    margin-bottom: 1em;
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 1.4;
    @include g.media(sp) {
      font-size: 2.8rem;
    }
  }
  &.-style02 {
    margin-bottom: 0.8em;
    font-size: 2.6rem;
    line-height: 1.4;
    @include g.media(sp) {
      font-size: 2.3rem;
    }
  }
  &.-style03 {
    margin-bottom: 0.5em;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
  }
}
